body{
    background-color: aqua;
}

main{
    min-height: 250px;
}

.numberr::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.done {
    text-decoration: line-through;
    color: gray;
}

ul{
    text-decoration: none;
}

li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}