*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #d6d6d6;
}

.container{
    width: 700px;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    padding: 20px 0;
    background: #fff;
    border-radius: 3%;
    box-shadow: 5px 5px 5px #33333376;
}

.head{
    width: 700px;
    text-align: center;
    padding: 10px 0;
}


.container .list-input div{
    display: flex;
    gap: 15px;
}

.container .list-input div input{
    width: 400px;
    height: 40px;
    padding: 0 10px;
    font-size: 18px;
}

#addListBtn{
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(41, 177, 41);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.lists{
    width: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.lists .list{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #d7d4d4;
    gap: 35px;
}

.active{
    text-decoration: line-through;
}

.lists .list button{
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(177, 41, 120);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .container{
        width: 95%;        
    }

    .head{
        width: 95%;
    }

    .container .list-input div input{
        width: 300px;
    }

    .lists{
        width: 500px;
    }

    .lists .list{
        width: 500px;
    }

    .container .list{
        gap: 20px;
    }
}

@media (max-width: 468px) {
    .container .list-input div input{
        width: 200px;
    }

    .lists{
        width: 280px;
    }

    .lists .list{
        width: 280px;
    }
}