*{
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(45deg, #8e44ad, #2ecc71) no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #333;
}

body *{
    animation: fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    padding: 30px;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,420px);
    place-content: center;
    place-items: center;
    gap: 40px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100px;
}

.card h2 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1.2rem;
    color: #555;
}

button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s;
}

button:hover {
    background: #555;
}


@media (max-width: 1370px) {
    .grid {
        grid-template-columns: repeat(2, 420px);
    }
}

@media (max-width: 920px) {
    .grid {
        grid-template-columns: repeat(1, 420px);
    }
}

@media (max-width: 460px) {
    .card {
        width: 320px;
    }
    h1{
        font-size: 2rem;
    }
}

@media (max-width: 380px) {
    .grid {
        grid-template-columns: repeat(1, 320px);
        padding: 0 10px;
    }

    .card {
        width: 250px;
        height: 400px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}